pulpcore==3.78.0
pulp-rpm==3.30.0
pulp-gem==0.7.1
pulp-ostree==2.4.6
pulp-python==3.13.1
pulp-npm==0.3.3
pulp-container==2.25.0
pulp-maven==0.10.1
pulp-cli
pulp-cli-gem
sentry-sdk
app-common-python
oras==0.2.24
uvloop==0.21.0
jsonschema
