pulpcore==3.89.1
pulp-rpm==3.32.2
pulp-gem==0.7.3
pulp-python==3.19.1
pulp-npm==0.4.0
pulp-container==2.26.2
pulp-maven==0.11.0
pulp-hugging-face==0.1.0
pulp-cli
pulp-cli-gem
sentry-sdk
app-common-python
oras==0.2.24
uvloop==0.21.0
jsonschema
memray
pyinstrument
clamav-client>=0.7.1,<1.0
